# dependencies
/node_modules
package-lock.json

# production
/build
/build_backend

# dev
.env
src/mongo.ts
requests/loginUser.rest

# deployment
Dockerfile
fly.toml
.dockerignore

#misc
NOTES.md
TODO.md
